/* General Form Container Styling */
* {
    box-sizing: border-box;
}

.container {  
    padding: 20px;
    margin: 0 auto;
}

/* Form Styling */
.form {
    width: 100%;
    background: transparent;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
}

/* Label Styling */
.labelBlue {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: bold; /* Make label text bold */
    color: #ffffff;
    width: 100%;
    text-align: left;
}

.labelWhite {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: bold; /* Make label text bold */
    color: #070038;
    width: 100%;
    text-align: left;
}

/* Input and Select Styling */
.input, .select, .selectBlue, .selectWhite {
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 8px;
    width: 100%;
    border: 1px solid #e2e8f0;
    transition: border-color 0.3s, box-shadow 0.3s;
    box-sizing: border-box;
}

/* Specific color overrides for input/select based on theme */
.select, .selectBlue, .selectWhite {
    background-color: #070038;
    color: #ffffff;
}

.selectWhite {
    background-color: #ffffff;
    color: #070038;
    border: 1px solid #070038;
}

.selectBlue {
    background-color: #070038;
    color: #ffffff;
}

/* Button Styling */
.buttoncomponent {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.submitButton {
    background-color: #008d88;
    color: #ffffff;
    padding: 5px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    transition: background-color 0.3s, transform 0.2s;
    margin-top: 10px;
}

.submitButton:hover {
    background-color: #006f64;  /* Hover effect */
    transform: translateY(-2px);
}

.submitButton:active {
    background-color: #005c4f;  /* Active effect */
    transform: translateY(1px);
}

/* Button container with space between buttons */
.buttoncomponent {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Responsivlik */
@media (max-width: 600px) {
    .form {
        padding: 5px; /* Smaller padding for mobile */
    }

    .input, .select {
        font-size: 14px; /* Smaller font size */
        padding: 10px;
    }

    .submitButton {
        padding: 10px 20px; /* Make button larger on mobile */
    }
}

@media (max-width: 900px) {
    .form {
        padding: 15px;  /* Add some space on medium screens */
    }

    .input, .select {
        font-size: 16px;  /* Medium screen font size */
    }
}

