.container {
    width: 100%;
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 10px;
    background-color: #000a25;
  }

.form {
    margin-top: 30px;
    margin-bottom: 20px;
    width: 100%;
    border: 2px solid rgb(31, 31, 31);
    padding: 10px;
    border-radius: 6px;
}

.form label {
    margin-bottom: 10px;
    font-size: 1.1em;
    font-weight: bold;
    color: #ffffff;
}

.form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid rgb(31, 31, 31);
    border-radius: 6px;
    color: #ffffff;
    background-color: #000a25;
    transition: border-color 0.3s;
}

.form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #4ca1af;
    color: white;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    text-align: center;
}

.resultsContainer {
    width: 100%;
    max-width: 600px;
}

.resultItem {
    padding: 15px;
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
}

.resultItem:hover {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.resultItem p {
    margin: 5px 0;
    font-size: 1em;
    color: #333;
    font-weight: bold;
}

.resultItem span.phoneNumber {
    cursor: pointer;
    color: #4ca1af;
    text-decoration: underline;
}
.getRequestTable {
    margin-top: 20px;
}

.getRequestTable table {
    width: 100%;
    border-collapse: collapse;
    background-color: black;
}

.getRequestTable th, .getRequestTable td {
    padding: 10px;
    text-align: left;
    border: 1px solid white;
    color: white;
}

.getRequestTable th {
    background-color: black;
    color: white;
}
